.home__img {
    background: url(../public/profilepic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 3px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    animation: profile_animate 8s ease-in-out infinite 1s;

}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 70% 40% 60%;
    }
}

.TooltipContent {
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 15px;
    z-index: 1000;
    line-height: 1;
    color: var(--violet-11);
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    user-select: none;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.TooltipContent[data-state='delayed-open'][data-side='top'] {
    animation-name: slideDownAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='right'] {
    animation-name: slideLeftAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='left'] {
    animation-name: slideRightAndFade;
}